.text-shadow{
  background-color: rgb(14, 13, 13);
  height: 16rem;
  width: 16rem;
  position: relative;
  top: -6rem;
  left: -11rem;
  /* color:transparent */
}

#services-img{
  background: url('../../assets/images/back.jpg') no-repeat center center/cover;
  height: 300px;
  width: 100%;
  position: relative;
  bottom: 10rem;
}
#services-img .back-img{
  background-color: rgba(0, 0,0, 0.9);
  height: 100%;
}
.services-btn{
  border: none;
  background: #fbc363;
  color: #1F212D;
  position: relative;
  right: -37rem;
  padding:0.5rem 2rem;
  top: 1rem;

}
.services-btn:hover{
  background: #1F212D;
  color: #fbc363;
  
}