.text-shadow {
  background-color: rgb(14, 13, 13);
  height: 16rem;
  width: 16rem;
  position: relative;
  top: -6rem;
  left: -11rem;
  /* color:transparent */
}

#services-img{
  background: url('../../assets/images/backgroung.jpg')no-repeat center center/cover;
  height: auto;
  width: 100%;
  position: relative;
  
}
#services-img::before{
  content: "";
  background-color:rgba(0, 0, 0, 0.9);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.services-btn {
  border: none;
  background: #fbc363;
  color: #1f212d;
  /* position: relative; */
  /* right: -37rem; */
  padding: 0.5rem 2rem;
  /* top: 1rem; */
}
.services-btn:hover {
  background: transparent;
  color: #fbc363;
}
.service-icon-bg {
  width: 3rem;
  height: 3rem;
  position: relative;
  color:#302f2f;
  background:#302f2f;
  border-radius: 50%;
  left: 9.5rem;
  top: 1em;
  z-index: 0;
  margin-bottom: 1.5rem;
}
.service-icon-bg:hover {
  color: #fbc363;
  background: #fbc363;
}
.service-icon-bg i{
  position:absolute;
  left:-40%;
  top:0;
  padding:0.5rem;
  color:#444;
  z-index:'2'
}
.dev-service-card{
  text-align: center;
  background: transparent;
  color: #FFFFFF;
}
.dev-service-card:hover {
  background-color: #000;
  
}
