.section-title{
  color:#0f0f0f;
  font-size: 9rem;
  text-align: center;
  margin-top: 1.5rem;
}
.experties-projects{
  margin:1rem;
}

.text-background {
  text-align: center;
  position: relative;
  bottom: 6.5rem;
}


.edu-1{
margin:2em 0 ;
}
.edu-3{
  margin:2em 0 ;
}
.edu-2{
  text-align:left;
  position:relative;
  
  
  padding: 14px;
  background-color: rgb(27, 27, 27);
  border-radius: 5px;
  width: 100%;
  height: 30%;
  box-shadow: 1px 1px 25px rgb(27, 27, 27);
  
  

}
.edu-pointer-1, 
.edu-pointer-2, 
.edu-pointer-3  {
  width: 15px;
  position: absolute;
 color:#302f2f;
 background:#302f2f;
 border-radius:50%;
  left: -0.5em;
}
.edu-pointer-1 {
  top:0
}
.edu-pointer-2 {
  top: 13em;
  color: #fbc363;
  background-color: #fbc363;
}
.edu-pointer-3{
  top: 26.5em;
}
.button-style{
  background:#302f2f;
  color:#ddd;
  border:none;
  border-radius:20px ;
  padding :0.3rem 1rem;
  margin-top:1rem;
 
}
.button-style:hover{
  background-color: #302f2f;
  color: #ddd;
}

.heading-style{
  background:#fbc363;
  height:2px;
  width:50px;
  position: absolute;
  top:1.7rem;
 
}
.education{
  border-left: 1px solid rgb(53, 52, 52);
  position: relative;
 
  padding-left: 2rem;
  

}
.education-col{
  padding-left: 10em;
}
.education-col > h1{
  margin-left: 2rem;

}

/* .experience-col{
 padding-left: 10em; 
}
.experience-col > h1{
  margin-left: 2rem;
} */

.experience{
  border-left: 1px solid rgb(53, 52, 52);
  position: relative;
  
  padding-left: 2rem;
}


.exp-pointer-1, 
.exp-pointer-2, 
.exp-pointer-3  {
  width: 15px;
  position: absolute;
 color:#302f2f;
 background:#302f2f;
 border-radius:50%;
  left: -0.5em;
}
.exp-pointer-1 {
  top:0
}
.exp-pointer-2 {
  top: 13em;
  color: #fbc363;
  background-color: #fbc363;
}
.exp-pointer-3{
  top: 26.5em;
}


.exp-1{
  margin:2em 0 ;
  }
  .exp-3{
    margin:2em 0 ;
  }
  .exp-2{
    text-align:left;
    position:relative;
    
    
    padding: 14px;
    background-color: rgb(27, 27, 27);
    border-radius: 5px;
    width: 100%;
    height: 30%;
    box-shadow: 1px 1px 25px  rgb(34, 34, 34);
    
    
  
  }
@media screen and (max-width:768px){
.section-title {
  font-size: 5rem;
}
.education-col {
  padding-left: 1em;
};
.experience-col {
  padding-left: 1em;
}
}
  @media only screen and (max-width: 992px) and (min-width: 769px)  {
      .section-title {
        font-size: 7rem;
      }

}