#showcase-img{
  background: url('../../assets/images/backgroung.jpg')no-repeat center center/cover;
  height: auto;
  width: 100%;
  position: relative;
  
}
#showcase-img::before{
  content: "";
  background-color:rgba(0, 0, 0, 0.9);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* #showcase-img .showcase-wrapper{
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
  
} */
.showcase-projects{
  background:'#FAEDC0';
  height:'2px';
  width:'40px'; 
  position: "relative";
  top:'20px';
  right:"3.1rem";
}
.showcase-title{
  background: #1F212D;
  color: #fff;
  font-size: 0.8rem;
  border: none;
}
.card-text-bar::before{
content:"_____";
background-color:"#FAEDC0";
position: absolute;
left: 0;
right: 82%;
bottom: 0;
top: 55%;
height:'2px';
  width:'40px';
}
.showcase-title:hover{
  background: none;
  border: 1px dotted #fbc363;
  color: none;
}
